<footer class="footer">
  <div class="container__footer container">
    <div class="footer-logo-wrapper">
      <img src="../assets/img/Header/Logo.png" alt="" />

      <p class="text-[16px] sm:text-[14px]">
        © ООО «КУСКЕЙП», 2025 <br />
        Разработка интернет-магазинов на 1С-Битрикс «под ключ»
      </p>
    </div>

    <div class="footer__contact">
      <div class="footer__contact__wrapper flex gap-[27px]">
        <div class="email__number">
          <div class="number">
            <a href="tel:+79203488216">+7 (920) 348-82-16</a>
          </div>
          <div class="email">
            <a href="mailto:hello@qscape.ru">hello@qscape.ru</a>
          </div>
        </div>

        <div class="socials">
          <a href="#">
            <div class="icon">
              <img src="../assets/img/Header/Telegram.svg" alt="" />
            </div>
          </a>

          <a href="#">
            <div class="icon">
              <img
                src="../assets/img/Header/whatsapp-128-svgrepo-com 2.svg"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>

      <a class="policy block text-[12px]" href="#"
        >Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>
