<header class="header">
  <section class="header__wrapper">
    <div class="container">
      <div class="logo-section">
        <img
          src="../assets/img/Header/Logo.png"
          alt=""
          data-scroll-to="title__section"
          onclick="smoothScroll(this)"
        />
      </div>
      <nav class="nav-section">
        <ul class="navigation">
          <li data-scroll-to="our__service" onclick="smoothScroll(this)">
            Услуги
          </li>

          <li
            data-scroll-to="our__service-bottom__section"
            onclick="smoothScroll(this)"
          >
            Почему мы
          </li>
          <li data-scroll-to="stats" onclick="smoothScroll(this)">Команда</li>
          <li data-scroll-to="result-text" onclick="smoothScroll(this)">
            Портфолио
          </li>
          <li data-scroll-to="price__title" onclick="smoothScroll(this)">
            Тарифы
          </li>
          <li class="dropdown flex items-center justify-center gap-[4px]">
            Ещe <img src="../assets/img/Header/ARROW.svg" alt="" />
            <div class="dropdown-menu">
              <ul>
                <li data-scroll-to="trust-info" onclick="smoothScroll(this)">
                  Отзывы
                </li>
                <li
                  data-scroll-to="price__bottom-tiles"
                  onclick="smoothScroll(this)"
                >
                  Как мы работаем
                </li>
                <li
                  data-scroll-to="order__container"
                  onclick="smoothScroll(this)"
                >
                  Контакты
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="contacts">
          <div>
            <div class="email__number">
              <div class="number">
                <a href="tel:+79203488216">+7 (920) 348-82-16</a>
              </div>
              <div class="email">
                <a href="mailto:hello@qscape.ru">hello@qscape.ru</a>
              </div>
            </div>
          </div>
          <div class="socials">
            <a href="#">
              <div class="icon" id="icon-tg">
                <img src="../assets/img/Header/Telegram.svg" alt="" />
              </div>
            </a>

            <a href="#">
              <div class="icon" id="icon-wa">
                <img
                  src="../assets/img/Header/whatsapp-128-svgrepo-com 2.svg"
                  alt=""
                />
              </div>
            </a>
          </div>
        </div>
      </nav>

      <div class="mobile-header">
        <div class="burger" id="burger">
          <span></span>
          <span></span>
        </div>

        <div class="mobile-logo">
          <img
            src="../assets/img/Q logo.jpg"
            alt=""
            data-scroll-to="title__section"
            onclick="smoothScroll(this)"
          />
        </div>

        <div class="logo-section">
          <img src="../assets/img/Header/Logo.png" alt="" />
        </div>

        <div class="socials !gap-[4px]">
          <a href="#">
            <div class="icon" id="icon-tg">
              <img src="../assets/img/Header/Telegram.svg" alt="" />
            </div>
          </a>

          <a href="#">
            <div class="icon" id="icon-wa">
              <img
                src="../assets/img/Header/whatsapp-128-svgrepo-com 2.svg"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="burger-menu">
    <div class="burger-menu__wrapper">
      <img class="menu-close-btn" src="../assets/img/x.svg" alt="" />

      <nav class="nav-section-mobile">
        <ul class="navigation">
          <li data-scroll-to="our__service" onclick="smoothScroll(this)">
            Что мы предлагаем
          </li>
          <li
            data-scroll-to="our__service-bottom__section"
            onclick="smoothScroll(this)"
          >
            Почему мы
          </li>
          <li data-scroll-to="stats" onclick="smoothScroll(this)">Команда</li>
          <li data-scroll-to="price__bottom-tiles" onclick="smoothScroll(this)">
            Как мы работаем
          </li>
          <li data-scroll-to="result-text" onclick="smoothScroll(this)">
            Портфолио
          </li>
          <li data-scroll-to="price__title" onclick="smoothScroll(this)">
            Стоимость услуг
          </li>
          <li data-scroll-to="trust-info" onclick="smoothScroll(this)">
            Отзывы
          </li>
          <li data-scroll-to="order__container" onclick="smoothScroll(this)">
            Контакты
          </li>
        </ul>
        <div class="contacts">
          <div>
            <div class="email__number">
              <div class="number">
                <a href="tel:+79203488216">+7 (920) 348-82-16</a>
              </div>
              <div class="email">
                <a href="mailto:hello@qscape.ru">hello@qscape.ru</a>
              </div>
            </div>
          </div>
        </div>
        <div class="burger-bottom">
          <img
            src="../assets/img/Header/Logo.png"
            alt=""
            data-scroll-to="title__section"
            onclick="smoothScroll(this)"
          />
          <p class="copyright">
            © ООО «КУСКЕЙП», 2025 Разработка интернет-магазинов на 1С-Битрикс
            «под ключ»
          </p>
        </div>
      </nav>
    </div>
  </div>

  <div class="overlay" id="overlay"></div>
</header>
