<!-- POPUP CALCULATE -->
<div class="popup-overlay" id="popup-overlay-calculate" data-popup="calculate">
    <div class="popup">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            Рассчитать стоимость проекта
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%] md:mt-[12px]">
            Мы свяжемся с вами и поможем рассчитать стоимость работы на основе ваших пожеланий
        </p>
        <div class="order-form order-form-modal !mt-0" >
            <form class="!mb-0 !gap-[12px]" onsubmit="ym(104667110,'reachGoal','form_submit')">
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="text" name="name" placeholder="Ваше имя" />
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="tel" name="phone" placeholder="Номер телефона"
                       pattern="\+7\s?[\(][0-9]{3}[\)]\s?[0-9]{3}-[0-9]{2}-[0-9]{2}" required />
                <input class="border border-[#D0D0D0] !bg-white direction-color" name="email" type="email" placeholder="Email" />

                <span class="btn-label !mb-0 text-[12px] !text-[#031422] md:text-[12px]">Нажимая кнопку, я даю согласие на
              обработку моих персональных
              данных</span>
                <button data-source="popup_form_submit_calculate" type="submit" class="text-[18px] md:text-[16px]">
                    ОТПРАВИТЬ
                    <img src="./assets/icons/arrowBtn.png" alt="" />
                </button>
            </form>
        </div>
    </div>

    <div class="popup__success flex-col items-center gap-[12px]">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            ваш запрос успешно отправлен
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%]">
            В течение 30 минут наш менеджер вам перезвонит
        </p>

        <button type="submit"
                class="mx-auto mt-[27px] flex items-center justify-center rounded-[170px] bg-black px-[50px] py-[17px] text-center text-[18px] text-[#ececed] md:text-[16px]"
                id="popup-close">
            ок
        </button>
    </div>
</div>

<!-- POPUP BASIC -->
<div class="popup-overlay" id="popup-overlay-basic" data-popup="basic">
    <div class="popup">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            Рассчитать стоимость проекта
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%] md:mt-[12px]">
            Мы свяжемся с вами и поможем рассчитать стоимость работы на основе ваших пожеланий
        </p>
        <div class="order-form order-form-modal !mt-0" >
            <form class="!mb-0 !gap-[12px]" onsubmit="ym(104667110,'reachGoal','form_basic')">
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="text" name="name" placeholder="Ваше имя" />
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="tel" name="phone" placeholder="Номер телефона"
                       pattern="\+7\s?[\(][0-9]{3}[\)]\s?[0-9]{3}-[0-9]{2}-[0-9]{2}" required />
                <input class="border border-[#D0D0D0] !bg-white direction-color" name="email" type="email" placeholder="Email" />

                <span class="btn-label !mb-0 text-[12px] !text-[#031422] md:text-[12px]">Нажимая кнопку, я даю согласие на
              обработку моих персональных
              данных</span>
                <button data-source="popup_form_submit_calculate" type="submit" class="text-[18px] md:text-[16px]">
                    ОТПРАВИТЬ
                    <img src="./assets/icons/arrowBtn.png" alt="" />
                </button>
            </form>
        </div>
    </div>

    <div class="popup__success flex-col items-center gap-[12px]">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            ваш запрос успешно отправлен
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%]">
            В течение 30 минут наш менеджер вам перезвонит
        </p>

        <button type="submit"
                class="mx-auto mt-[27px] flex items-center justify-center rounded-[170px] bg-black px-[50px] py-[17px] text-center text-[18px] text-[#ececed] md:text-[16px]"
                id="popup-close">
            ок
        </button>
    </div>
</div>

<!-- POPUP OPTIMAL -->
<div class="popup-overlay" id="popup-overlay-optimal" data-popup="optimal">
    <div class="popup">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            Рассчитать стоимость проекта
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%] md:mt-[12px]">
            Мы свяжемся с вами и поможем рассчитать стоимость работы на основе ваших пожеланий
        </p>
        <div class="order-form order-form-modal !mt-0" >
            <form class="!mb-0 !gap-[12px]" onsubmit="ym(104667110,'reachGoal','form_optimal')">
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="text" placeholder="Ваше имя" />
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="tel" name="phone" placeholder="Номер телефона"
                       pattern="\+7\s?[\(][0-9]{3}[\)]\s?[0-9]{3}-[0-9]{2}-[0-9]{2}" required />
                <input class="border border-[#D0D0D0] !bg-white direction-color" name="email" type="email" placeholder="Email" />

                <span class="btn-label !mb-0 text-[12px] !text-[#031422] md:text-[12px]">Нажимая кнопку, я даю согласие на
              обработку моих персональных
              данных</span>
                <button data-source="popup_form_submit_calculate" type="submit" class="text-[18px] md:text-[16px]">
                    ОТПРАВИТЬ
                    <img src="./assets/icons/arrowBtn.png" alt="" />
                </button>
            </form>
        </div>
    </div>

    <div class="popup__success flex-col items-center gap-[12px]">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            ваш запрос успешно отправлен
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%]">
            В течение 30 минут наш менеджер вам перезвонит
        </p>

        <button type="submit"
                class="mx-auto mt-[27px] flex items-center justify-center rounded-[170px] bg-black px-[50px] py-[17px] text-center text-[18px] text-[#ececed] md:text-[16px]"
                id="popup-close">
            ок
        </button>
    </div>
</div>

<!-- POPUP PREMIUM -->
<div class="popup-overlay" id="popup-overlay-premium" data-popup="premium">
    <div class="popup">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            Рассчитать стоимость проекта
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%] md:mt-[12px]">
            Мы свяжемся с вами и поможем рассчитать стоимость работы на основе ваших пожеланий
        </p>
        <div class="order-form order-form-modal !mt-0" >
            <form class="!mb-0 !gap-[12px]" onsubmit="ym(104667110,'reachGoal','form_premium')">
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="text" name="name" placeholder="Ваше имя" />
                <input class="border border-[#D0D0D0] !bg-white direction-color" type="tel" name="phone" placeholder="Номер телефона"
                       pattern="\+7\s?[\(][0-9]{3}[\)]\s?[0-9]{3}-[0-9]{2}-[0-9]{2}" required />
                <input class="border border-[#D0D0D0] !bg-white direction-color" name="email" type="email" placeholder="Email" />

                <span class="btn-label !mb-0 text-[12px] !text-[#031422] md:text-[12px]">Нажимая кнопку, я даю согласие на
              обработку моих персональных
              данных</span>
                <button data-source="popup_form_submit_calculate" type="submit" class="text-[18px] md:text-[16px]">
                    ОТПРАВИТЬ
                    <img src="./assets/icons/arrowBtn.png" alt="" />
                </button>
            </form>
        </div>
    </div>

    <div class="popup__success flex-col items-center gap-[12px]">
        <button class="popup-close" id="popup-close">
            <img src="./assets/icons/x.png" alt="" />
        </button>
        <h2
                class="text-[hsba(231, 25%, 27%, 1)] mx-auto max-w-[474px] text-center text-[28px] uppercase leading-[36px] md:text-[16px]">
            ваш запрос успешно отправлен
        </h2>
        <p
                class="md:text-16px text-[hsba(231, 25%, 27%, 1)] mb-[30px] mt-[30px] text-center text-[20px] leading-[150%]">
            В течение 30 минут наш менеджер вам перезвонит
        </p>

        <button type="submit"
                class="mx-auto mt-[27px] flex items-center justify-center rounded-[170px] bg-black px-[50px] py-[17px] text-center text-[18px] text-[#ececed] md:text-[16px]"
                id="popup-close">
            ок
        </button>
    </div>
</div>